git-checks=false
public-hoist-pattern[]=@redux/toolkit
public-hoist-pattern[]=redux
public-hoist-pattern[]=redux-thunk
public-hoist-pattern[]=immer
public-hoist-pattern[]=reselect
public-hoist-pattern[]=*eslint*